<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.cwde.freeshisen"
    android:versionCode="9"
    android:versionName="0.5" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="10" >

        <!-- targetSdkVersion *must* be <=10 so we can show the legacy "menu" button -->
    </uses-sdk>

    <application
        android:name="de.cwde.freeshisen.ShisenSho"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="de.cwde.freeshisen.ShisenShoActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.cwde.freeshisen.SettingsActivity"
            android:parentActivityName="de.cwde.freeshisen.ShisenShoActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.cwde.freeshisen.ShisenShoActivity" />

            <intent-filter>
                <action android:name="de.cwde.freeshisen.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.cwde.freeshisen.HighscoreActivity"
            android:parentActivityName="de.cwde.freeshisen.ShisenShoActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.cwde.freeshisen.ShisenShoActivity" />

            <intent-filter>
                <action android:name="de.cwde.freeshisen.HISCORE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>